@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))

{

    <body class="hold-transition sidebar-mini">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">

                            <form role="form">
                                <div class="card-body">

                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.HeadingID, new { @type = "hidden" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.WriterID, new { @type = "hidden" })
                                    </div>
                                    <div class="form-group">
                                        <label>Başlık Adı</label>
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.HeadingDate)
                                    </div>
                                    <div class="form-group">
                                        <label>Kategori Adı</label>
                                        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button class="btn btn-primary">Değişiklikleri Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>

    </body>
}